@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
body {
    background-color:#F8F9FA;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: black;

}
.navbar-toggler-icon{
    color: #fff;
 
}
.fa-bars{
    color: #fff;
    font-size: 30px !important;
}
#card {
    font-family: 'Sriracha', cursive;
    color:black;
    border-radius: 5px;
    font-weight: bold;
    font-size: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    /* padding: 2px 2px 8px 4px;
     box-shadow: 2px 2px 0.6; */

    /* background-color: rgba(0, 132, 255, 0.644); */
} 
.card-body{
    font-family: 'Sriracha', cursive;
    background-color:#F8F9FA;
    border: 1px solid rgb(220,220,220) ;
} 


.cardsetting ,h3,p{
    font-family: 'Sriracha', cursive;
    margin-left: 8px;
}

textarea{
    border: transparent;
    border-bottom: 1px solid black;
}

.notecard .cards{
    max-height: 500px;
    background-color:#F8F9FA;
    text-overflow:auto;
    
}
#target{
    padding: 2px;
    text-align:start;
    font-size: 20px;
}

.navbar-brand {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.head {

    font-size: 3rem;
    align-items: center;
    text-align: center;
    font-family: 'Sriracha', cursive;

}
#addtxt{
    background-color:#fff;
    font-weight: bold;
}
#cb{
    background-color:#F8F9FA;
    border: none;
}
#addbtn{
    background-color: lightblue;
}
.editdelete{
     padding: 2px 2px;
     margin: 10px 5px;
     font-family: 'Sriracha', cursive;
     /* margin-top: 15px 0px; */
}

.themebutton{
    margin-bottom: 50% !important;
    margin-left: 0%;
    border: 2px solid rgb(116, 113, 113);
    background-color: #F8F9FA;
    color: black !important;
}

body.light{
    color:#222222;
    background-color:  #ffffff;
}
body.dark{
    /* color:#DEE4E7    ;
    background-color: #37474F; */
    color: #ffffff ;
    background-color: #222222;
}

